/*---------------------
header
---------------------*/
header{
    background-color: var(--first-color);
    padding: 1.25rem 0;
    color:white;
    position: sticky;
    top: 0;
}
.hamburger{
    background-color: var(--first-color);
    color: white;
}
.logo{
    padding-top: 5px;
}
header li{
    padding: .625rem;
}
a{
    text-decoration: none;
    color:white;
}
.main-nav{
    display: none;
}
.btn-header{
    background-color: white;
   padding:5px 5px 5px 5px;
   text-align:center ;
}
@media  screen and (min-width:992px){
    .hamburger{
        display: none;
    }

    .main-nav{
    display: block;
}
}