@import url('reset.css');
@import url('variables.css');
@import url('common.css');
@import url('header.css');
@import url('footer.css');


/*---------------------
Section Hightlights
---------------------*/
.card-debug{
    background-color: var(--first-color-light);
    padding:20px;
    padding: 1.25rem;
    border-radius: 1.25rem;
    
}

.highlights .col{
width:100%;
margin: .625rem 0;

}
.highlights img{
    width: 60%;
}

.highlights .flex {
    flex-wrap: wrap;
}

.highlights .btn {
    background-color: var(--first-color);
    border-color: var(--first-color);
    color: white;
    margin: 20px 0;
    width: 210px;
    height: 40px;
    
}
.highlights h4 {
    color: var(--first-color);
    padding: .625rem 0;
    font-size: 1.25rem;
}
.highlights p {
    font-size: 16px;
    line-height: 20px;
    padding: 20px 0;
}
.icon{
    font-size: 300%;
    color: var(--first-color);
}
/*tablet*/

@media  screen and (min-width:768px){
    .highlights .col{
        width: calc(100% / 3);

    }
        .highlights img{
            margin-left:10px;
        }
        .highlights .btn{
            width:200px;
        }
        .height {
            height:410px;
        }
        
    
}
.highlights .col:first-child{
    width: calc( (100% / 3) *2);
   

}
}
.highlightsw{

}
    


/*---------------------
Section Strategic
---------------------*/

.strategic{
  background-color: var(--second-color);
}
.strategic .col{
    width:100%;
    margin: 0.625em 0;
}

/*tablet*/

@media  screen and (min-width:768px){
    .strategic .col{
        width:50%;
        
    }
    
}
/*---------------------
Section Testimonials
---------------------*/
.card-title{
    text-align: center;
}
.card-testimonials {
    background-color: var(--second-color);       
    width: 100%;
    text-align: center;
    margin:10px;
    border-radius: 40px;

}
/*---------------------
Section Testimonials
---------------------*/
/*---------------------
Section Benefits
---------------------*/
.benefits{
    background-color: var(--second-color);
}
.col-titolo {
    color: white;
    text-align: center;
    margin: auto;
}
.col-benefits {
    background-color: white; 
    margin:10px;  
    
}
.benefits .col{
width:100%;

}
/*tablet*/
@media screen and ( min-width:768px) {        
    .benefits .col {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 2);
        margin:10px;
        margin :auto;
    }
}
/*---------------------
Section Benefits
---------------------*/

.about-us .col{
    width:100%;
    text-align:center;
    
        
    
}
/*tablet*/
@media screen and (min-width:768px){
    
    
    .about-us .col-1{
       width: 70%;
    }
    .about-us .col-2{
        width: 30%;
     }
     
}
/*---------------------
Section get started
---------------------*/
.get-started{
    background-color: var(--second-color);
}
