@import url('reset.css');
@import url('variables.css');
@import url('common.css');
@import url('header.css');


/*---------------------
Section Hightlights
---------------------*/
.card-debug{
    background-color: var(--first-color-light);
    height:100px;
}

.highlights .col{
width:100%;
margin: .625rem 0;

}
/*tablet*/

@media  screen and (min-width:768px){
    .highlights .col{
        width: calc(100% / 3);
       
    
}
.highlights .col:first-child{
    width: calc( (100% / 3) *2);
   

}
}


/*---------------------
Section Strategic
---------------------*/

.strategic{
  background-color: var(--second-color);
}
.strategic .col{
    width:100%;
    margin: 0.625em 0;
}

/*tablet*/

@media  screen and (min-width:768px){
    .strategic .col{
        width:50%;
        
    }
    
}
/*---------------------
Section Testimonials
---------------------*/
.card-title{
    text-align: center;
}
.card-testimonials {
    background-color: var(--second-color);       
    width: 100%;
    text-align: center;
    margin:10px;

}
/*---------------------
Section Testimonials
---------------------*/